<a href="https://colab.research.google.com/github/Altaieb-Mohammed/lab_2corse/blob/master/c_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
import numpy as np

# 1. تحميل الملف الأصلي
url = "https://raw.githubusercontent.com/Altaieb-Mohammed/lab_2corse/master/inheritance_dataset.csv"

df = pd.read_csv(url)# 2. استعراض أول 5 صفوف وأسماء الأعمدة
print("First 5 rows (before cleaning):")
display(df.head())
print("\nColumns (before cleaning):")
print(list(df.columns))

# 3. توحيد القيم الفارغة إلى NaN
df.replace(['nan', '', 'NaN', None], np.nan, inplace=True)

# 4. حذف الأعمدة غير المفيدة (إذا وجدت)
drop_cols = ['record_id', 'notes', 'death_date', 'distribution_date', 'country', 'special_cases']
df.drop(columns=[col for col in drop_cols if col in df.columns], inplace=True)

# 5. تحويل الأعمدة الرقمية لنوعها الصحيح
for col in df.columns:
    if col not in ['distributed']:  # distributed قد تكون هدف أو ميزة
        df[col] = pd.to_numeric(df[col], errors='coerce')

# 6. التأكد من الأعمدة الثنائية (0 أو 1 فقط)
binary_cols = [
    'husband', 'wives', 'father', 'mother', 'grandfather', 'grandmother',
    'sons', 'daughters', 'brothers_m', 'sisters_m', 'distributed', 'distribution_check'
]
for col in binary_cols:
    if col in df.columns:
        df[col] = df[col].fillna(0).astype(int)
        df[col] = df[col].clip(0, 1)

# 7. معالجة القيم المفقودة في الأعمدة الرقمية (استبدال NaN بـ 0)
df.fillna(0, inplace=True)

# 8. حذف الصفوف المكررة (إن وجدت)
df.drop_duplicates(inplace=True)

# 9. حفظ الملف النهائي النظيف
output_filename = 'final_clean_inheritance_dataset.csv'
df.to_csv(output_filename, index=False)

# 10. عرض أول 5 صفوف وأسماء الأعمدة بعد التنظيف
print("\nFirst 5 rows (after cleaning):")
display(df.head())
print("\nColumns (after cleaning):")
print(list(df.columns))
print(f"\nTotal records after cleaning: {len(df)}")

First 5 rows (before cleaning):

,record_id,estate,debts,wills,husband,wives,father,mother,sons,daughters,brothers_m,sisters_m,grandfather,grandmother,share_husband,share_wife,share_father,share_mother,share_sons,share_daughters
0,1,170040,22540,2663.76,True,0,True,True,2,2,1,2,False,True,36209.06,0.00,24139.37,24139.37,40232.29,20116.14
1,2,181741,10376,14674.26,False,0,True,True,1,1,1,2,True,True,0.00,0.00,26115.12,26115.12,69640.33,34820.16
2,3,158290,2848,2591.00,True,0,False,False,1,0,0,1,True,False,38212.75,0.00,0.00,0.00,114638.25,0.00
3,4,167814,34762,4936.79,False,1,True,True,0,1,1,0,True,True,0.00,16014.40,21352.53,21352.53,0.00,64057.61
4,5,101742,21068,12245.39,False,1,True,True,0,3,2,0,True,False,0.00,7603.18,10137.57,10137.57,0.00,40550.29

Columns (before cleaning):
['record_id', 'estate', 'debts', 'wills', 'husband', 'wives', 'father', 'mother', 'sons', 'daughters', 'brothers_m', 'sisters_m', 'grandfather', 'grandmother', 'share_husband', 'share_wife', 'share_father', 'share_mother', 'share_sons', 'share_daughters']

First 5 rows (after cleaning):

,estate,debts,wills,husband,wives,father,mother,sons,daughters,brothers_m,sisters_m,grandfather,grandmother,share_husband,share_wife,share_father,share_mother,share_sons,share_daughters
0,170040,22540,2663.76,1,0,1,1,1,1,1,1,0,1,36209.06,0.00,24139.37,24139.37,40232.29,20116.14
1,181741,10376,14674.26,0,0,1,1,1,1,1,1,1,1,0.00,0.00,26115.12,26115.12,69640.33,34820.16
2,158290,2848,2591.00,1,0,0,0,1,0,0,1,1,0,38212.75,0.00,0.00,0.00,114638.25,0.00
3,167814,34762,4936.79,0,1,1,1,0,1,1,0,1,1,0.00,16014.40,21352.53,21352.53,0.00,64057.61
4,101742,21068,12245.39,0,1,1,1,0,1,1,0,1,0,0.00,7603.18,10137.57,10137.57,0.00,40550.29

Columns (after cleaning):
['estate', 'debts', 'wills', 'husband', 'wives', 'father', 'mother', 'sons', 'daughters', 'brothers_m', 'sisters_m', 'grandfather', 'grandmother', 'share_husband', 'share_wife', 'share_father', 'share_mother', 'share_sons', 'share_daughters']

Total records after cleaning: 20000